.logo {
  border-radius: 0.6rem;
  margin-left: -0.5rem;
  padding: 0.65rem;
  transition: transform 100ms ease-in-out, background-color 100ms ease-in-out;
}

.logo > img {
  height: 2.8rem;
}

.logo:hover {
  background-color: rgba(var(--colors-bgLightest));
}

.logo:active {
  transform: scale(1.05);
}
